html {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  font-family:"courier";
}
h1 {
	color:darkred;
	
}
h2 {
	color:darkred;
}
hr {
	border-top: 2px solid darkred;
}
div {
	position: fixed;
	left: 700px;
}